<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdditionalInfo</key>
	<dict>
		<key>BuildMachineOSBuild</key>
		<string>$(MAC_OS_X_PRODUCT_BUILD_VERSION)</string>
		<key>CFBundleSupportedPlatforms</key>
		<array>
			<string>guestOS</string>
		</array>
		<key>DTCompiler</key>
		<string>$(GCC_VERSION)</string>
		<key>DTPlatformBuild</key>
		<string>$(PLATFORM_PRODUCT_BUILD_VERSION)</string>
		<key>DTPlatformName</key>
		<string>guestos.${OSID}</string>
		<key>DTPlatformVersion</key>
		<string>1.0</string>
		<key>DTSDKBuild</key>
		<string>$(SDK_PRODUCT_BUILD_VERSION)</string>
		<key>DTSDKName</key>
		<string>$(SDK_NAME)</string>
		<key>DTXcode</key>
		<string>$(XCODE_VERSION_ACTUAL)</string>
		<key>DTXcodeBuild</key>
		<string>$(XCODE_PRODUCT_BUILD_VERSION)</string>
		<key>MinimumOSVersion</key>
		<string>$($(DEPLOYMENT_TARGET_SETTING_NAME))</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>org.guestos.platform.guestos.${OSID}</string>
	<key>CFBundleName</key>
	<string>guestOS ${OSNAME} Platform</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DefaultDebuggerSettings</key>
	<dict>
		<key>DataFormattersLocationPath</key>
		<string>/Developer/usr/lib</string>
		<key>DebuggerSupportDylibPath</key>
		<string>/Developer/usr/lib/libXcodeDebuggerSupport.dylib</string>
		<key>DisableGuardMallocInDebugger</key>
		<string>YES</string>
		<key>DisableRestartInDebugger</key>
		<string>YES</string>
		<key>ProvidesAttachList</key>
		<string>YES</string>
		<key>RequiresDeviceForLaunch</key>
		<string>YES</string>
		<key>RunInDebugger</key>
		<string>YES</string>
	</dict>
	<key>DefaultProperties</key>
	<dict>
		<key>ARCHS</key>
		<string>$(ARCHS_STANDARD)</string>
		<key>COMPRESS_PNG_FILES</key>
		<string>YES</string>
		<key>DEBUG_INFORMATION_FORMAT</key>
		<string>dwarf-with-dsym</string>
		<key>DEFAULT_COMPILER</key>
		<string>com.apple.compilers.llvm.clang.1_0</string>
		<key>DEPLOYMENT_TARGET_CLANG_ENV_NAME</key>
		<string>GUESTOS_DEPLOYMENT_TARGET</string>
		<key>DEPLOYMENT_TARGET_CLANG_FLAG_PREFIX</key>
		<string>-mmacosx-version-min=</string>
		<key>DEPLOYMENT_TARGET_SETTING_NAME</key>
		<string>GUESTOS_DEPLOYMENT_TARGET</string>
		<key>GCC_WARN_64_TO_32_BIT_CONVERSION[arch=*64]</key>
		<string>YES</string>
		<key>INFOPLIST_OUTPUT_FORMAT</key>
		<string>binary</string>
		<key>NATIVE_ARCH</key>
		<string>x86_64</string>
		<key>PLIST_FILE_OUTPUT_FORMAT</key>
		<string>binary</string>
		<key>SDKROOT</key>
		<string>guestos.${OSID}</string>
		<key>STRINGS_FILE_OUTPUT_ENCODING</key>
		<string>binary</string>
	</dict>
	<key>Description</key>
	<string>${OSDESC}</string>
	<key>FamilyIdentifier</key>
	<string>guestos</string>
	<key>FamilyName</key>
	<string>guestOS</string>
	<key>Icon</key>
	<string>Icon.icns</string>
	<key>Identifier</key>
	<string>org.guestos.platform.guestos.${OSID}</string>
	<key>MinimumSDKVersion</key>
	<string>1.0</string>
	<key>Name</key>
	<string>guestos.${OSID}</string>
	<key>OverrideProperties</key>
	<dict>
		<key>DEBUG_INFORMATION_FORMAT</key>
		<string>dwarf</string>
		<key>SDKROOT</key>
		<string>guestos.${OSID}</string>
	</dict>
	<key>Type</key>
	<string>Platform</string>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
